@*@model EmployeeManagement.Models.Employee*@
@model HomeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}

@*<h3>
       @ViewData["PageTitle"]
    </h3>*@
<h3>
    @*@ViewBag.PageTitle*@
    @Model.PageTitle
</h3>
@*@{
        var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    }*@

@*<div>
        Name : @employee.Name
    </div>
    <div>
        Email : @employee.Email
    </div>
    <div>
        Dept : @employee.Department
    </div>*@

@*<div>
        Name : @ViewBag.Employee.Name
    </div>
    <div>
        Email : @ViewBag.Employee.Email
    </div>
    <div>
        Dept : @ViewBag.Employee.Department
    </div>*@

@*<div>
        Name : @Model.Name
    </div>
    <div>
        Email : @Model.Email
    </div>
    <div>
        Dept : @Model.Department
    </div>*@

@*<div>
    Name : @Model.Employee.Name
</div>
<div>
    Email : @Model.Employee.Email
</div>
<div>
    Dept : @Model.Employee.Department
</div>*@

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>
            
            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/profile-1.jpg" />

                <h4>Employee ID: @Model.Employee.Id</h4>
                <h4>Email: @Model.Employee.Email</h4>
                <h4>Department: @Model.Employee.Department</h4>

            </div>

            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}
